.Home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/BG.svg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;

  .input__Block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input {
      padding: 15px 70px;
      border: none;
      border-radius: 100px;
      background-color: rgb(128, 128, 128, 0.5);
      color: white;
    }

    .input::placeholder {
      color: white;
    }
  }
}